@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/Fira_Sans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans-Semi-Bold';
  src: url('fonts/Fira_Sans/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans';
  background-image: url('images/Background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.close {
  width: 36px;
  height: 36px;
  margin: 12px 0 0 12px;
}

.title {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 3px 15px #1f263e;
  height: 129px;
  margin: 67px auto 0;
  animation: fromTop 2s;
}

.reviews {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  animation: fromTop 2s;
}

.millions {
  font-size: 16px;
  line-height: 19px;
  color: #1e2333;
}

.ratings {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings span {
  font-size: 15px;
  line-height: 18px;
  color: #f85036;
  padding-top: 5px;
  margin-left: 8.5px;
}

.features {
  padding-top: 22.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feat {
  display: flex;
  margin-top: 29px;
  width: 283.3px;
  align-items: center;
}

.feat:nth-child(1) {
  animation: fromLeft 4s;
}
.feat:nth-child(2) {
  animation: fromRight 4s;
}
.feat:nth-child(3) {
  animation: fromLeft 4s;
}

.ft {
  margin-left: 19px;
}

.ft__title {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #1e2333;
  text-transform: uppercase;
}

.ft__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.180882px;
  color: #13d68f;
  margin-top: 3px;
}

.restore {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #1e2333;
  margin-top: 52px;
  animation: fromBottom 2s;
}

.cta {
  border: none;
  outline: none;
  width: 335px;
  height: 63px;
  border-radius: 45px;
  background-color: #00da89;
  margin: 16px 0 0 20px;
  animation: fromBottom 2s;
}

.week__one {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.180882px;
  color: #ffffff;
}

.week__after {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.subscribe {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #414141;
  width: 340px;
  margin: 22px 0 0 20px;
  animation: fromBottom 2s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
